<!DOCTYPE html>
<html>
<head>
  Hello
</head>

<body>
  <h2>Loop</h2>

  <ul>
      <% detectText.forEach(function(data) { %>
        <li><%= data.textAll %></li>
        <li><%= data.email %></li>
        <li><%= data.tel %></li>
        <li><%= data.mobile %></li>
        <li><%= data.name %></li>
      <% }); %>
  </ul>


</body>
</html>
