<!DOCTYPE html>
<html>

<body>
  <div style="float: left;">

    <form action="/" method="post">
      Email : <input type="text" value="<% detectText.forEach(function(data) { %> <%= data.email %> <% }); %> " >
      <br>
      Tel : <input type="text" value="<% detectText.forEach(function(data) { %> <%= data.tel %> <% }); %> " >
      <br>
      Mobile : <input type="text" value="<% detectText.forEach(function(data) { %> <%= data.mobile %> <% }); %> " >
      <br>
      Name : <input type="text" value="<% detectText.forEach(function(data) { %> <%= data.name %> <% }); %> " >
      <br>
      Position : <input type="text" value="<% detectText.forEach(function(data) { %> <%= data.position %> <% }); %> " >
      <br>
      Url : <input type="text" value="<% detectText.forEach(function(data) { %> <%= data.url %> <% }); %> " >

      <input type="submit" value="Submit">
     </form>

  </div>.

  <div style="float: right;">
    <img src='<% detectText.forEach(function(data) { %>
                <%= data.imagePath %>
              <% }); %>' width="600" height="480"/>
    <br>
    Text : <textarea rows="10" cols="70">
    <% detectText.forEach(function(data) { %>
      <%= data.textAll %>
    <% }); %>
    </textarea>
  </div>

</body>
</html>
