<!DOCTYPE html>
<html>

<body>
  <h2>Loop</h2>
  <form action="" method="post">
    Text : <textarea rows="10" cols="70">
    <% detectText.forEach(function(data) { %>
      <%= data.textAll %>
    <% }); %>
    </textarea><br>

    Email : <textarea cols="35">
    <% detectText.forEach(function(data) { %>
      <%= data.email %>
    <% }); %>
    </textarea><br>

    Tel : <textarea cols="35">
    <% detectText.forEach(function(data) { %>
      <%= data.tel %>
    <% }); %>
    </textarea><br>

    Mobile : <textarea cols="35">
    <% detectText.forEach(function(data) { %>
      <%= data.mobile %>
    <% }); %>
    </textarea><br>

    Name : <textarea cols="70">
    <% detectText.forEach(function(data) { %>
      <%= data.name %>
    <% }); %>
    </textarea>
   </form>

   <img src='<% detectText.forEach(function(data) { %>
               <%= data.imagePath %>
             <% }); %>' width="600" height="480"/>



</body>
</html>
