<!DOCTYPE html>
<html>
<head>
  Hello
</head>

<body>
  <h2>Loop</h2>

  <ul>
      <% drinks.textAll %>
          <!-- <li><%= drink.textAll %></li>
          <li><%= drink.email %></li>
          <li><%= drink.tel %></li>
          <li><%= drink.mobile %></li>
          <li><%= drink.name %></li>
      <% }); %> -->
  </ul>


</body>
</html>
