<!DOCTYPE html>
<html>

<body>
  <div style="float: left;">
    <form action="" method="post">
      Email : <textarea cols="35">
      <% detectText.forEach(function(data) { %>
        <%= data.email %>
      <% }); %>
      </textarea><br>

      Tel : <textarea cols="35">
      <% detectText.forEach(function(data) { %>
        <%= data.tel %>
      <% }); %>
      </textarea><br>

      Mobile : <textarea cols="35">
      <% detectText.forEach(function(data) { %>
        <%= data.mobile %>
      <% }); %>
      </textarea><br>

      Name : <textarea cols="70">
      <% detectText.forEach(function(data) { %>
        <%= data.name %>
      <% }); %>
      </textarea>
     </form>
  </div>.
  <div style="float: right;">
    <img src='<% detectText.forEach(function(data) { %>
                <%= data.imagePath %>
              <% }); %>' width="600" height="480"/>
    <br>
    Text : <textarea rows="10" cols="70">
    <% detectText.forEach(function(data) { %>
      <%= data.textAll %>
    <% }); %>
    </textarea>
  </div>

</body>
</html>
